* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    background-color: lightblue; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 2fr;
    flex: 1;
    gap: 10px;
}

.left-sidebar, .right-sidebar {
    background-color: tomato; 
}

.left-sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:  1;
    grid-column-end: 2;
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    gap: 10px;
}

.top-row {
    background-color: green; 
}

.bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.bottom-left, .bottom-right {
    background-color: yellow; 
}

.right-sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:  3;
    grid-column-end: 4;
}
footer {
    height: 50px;
    background-color: darkblue; 
}