*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.large{
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 3;
}
p{
    display: none;
}

h3{
    display: none;
}

.gallery-item img {
    width: 100%;              
    height: 100%;             
    object-fit: cover;        
}